<!doctype html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% block title %}{% endblock %}{{ SITENAME }}</title>

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div><img src="{{ GRV_URL }}" class="grv-img"/></div>
        <div class="title"><a href="{{ SITEURL }}/">{{ SITENAME }} </a></div>
        <div class="sub-title">{% if SITESUBTITLE %}{{ SITESUBTITLE }}{% endif %}</div>

        {% include 'sidebar.html' %}

      </header>
      <section>
      {% block content %}

      {% endblock %}
      </section>
      <footer>
        <p><small>&copy; {{ SITENAME }} &mdash; Theme based on Sundown by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <!-- Scale fix -->
    <script>
      var metas = document.getElementsByTagName('meta');
      var i;
      
      if (navigator.userAgent.match(/iPhone/i)) {
        for (i=0; i<metas.length; i++) {
          if (metas[i].name == "viewport") {
            metas[i].content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0";
          }
        }
      
        document.addEventListener("gesturestart", gestureStart, false);
      }

      function gestureStart() {
        for (i=0; i<metas.length; i++) {
          if (metas[i].name == "viewport") {
            metas[i].content = "width=device-width, minimum-scale=0.25, maximum-scale=1.6";
          }
        }
      }
    </script>
    {% include 'piwik.html' %}
    <a href="https://github.com/timwhite/technicallytim"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
  </body>
</html>
